@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components{ 
    .indicator-desktop{ 
        @apply w-10 h-8
        } 
    .indicator-mobile{
        @apply w-8 h-6 rounded-full
    } 
   }

.center-y{
    top: 50%;
    transform: translateY(-50%);
}

.progressbar-transition{
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

